@media screen and (max-width: 400px) {
/* ---------- GENERAL ---------- */
/* END */

/* ---------- LINKS ---------- */
/* END */

/* ---------- WRAPPER ---------- */
.wrapper {
	margin: -8px auto;
	width: 100%;
}
/* END */

/* ---------- HEADER ---------- */
.header {
	width: 100%;
}

.logo {
	height: 85px;
}
.logo img {
	width: 100%;
}

.banner {
	display: none;
}
/* END */

/* ---------- NAVIGATION ---------- */
.navigation {
	display: none;
	width: 100%;
}
.navigation ul {
	background: #040457;
	border: 1px groove #C7ECFF;
	border-radius: 0px;
	clear: left;
	padding: 0;
	width: 100%;
}
.navigation li {
	border-top: 1px solid #ABE3FF;
	display: block;
	padding: 0px;
}
.navigation a {
	color: #ABE3FF;
	display: block;
	padding: 10px;
	text-align: center;
}
.navigation a:hover {
	color: #FFF;
}
.navigationLast {
	border-bottom: 1px solid #ABE3FF;
}
/* END */

/* ---------- CONTENT ---------- */
.contentContainer {
	margin-top: 10px;
	width: 100%;
}

.box_top {
	background: url('../images/box/box_top.png') no-repeat scroll center top;
	height: 26px;
	overflow: hidden;
	width: 100%;
}

.box_center {
	background: url('../images/box/box_center.png') repeat-y scroll center top;
	width: 100%;
}

.box_bottom {
	background: url('../images/box/box_bottom.png') no-repeat scroll center top;
	height: 26px;
	overflow: hidden;
	width: 100%;
}

.contentOneCol {
	margin-top: 5px;
	padding: 0px;
}
.contentOneCol h2 {
	font-size: 18px;
	margin-top: 5px;
	margin-left: -3px;
	padding: 0px;
}
.contentOneCol td {
	padding: 0px;
}

.gallery {
	display: none;
}
.galleryResponsive {
	display: block;
	padding-bottom: 10px;
}
.galleryResponsive img {
	border: 3px groove #111;
	max-height: 250px;
	margin-left: -3px;
	width: 100%;
}
.galleryResponsive img:hover {
	border: 3px groove #C7ECFF;
	margin-left: -3px;
}
.caption {
	margin-top: 5px;
	width: 100%;
}
/* END */

/* ---------- FOOTER ---------- */
.footerContainer {
	margin: auto;
	width: 100%;
}
.footer p {
	margin: 0px auto;
	padding: 15px;
}
/* END */
}
