/*-----------------------------------------------------------------
// Color Palette
Light Blue:3866a4
Mid Blue:1b4988
Dark Blue:0a1b33
-----------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,200,400,500,600,700,800,900');

* {font-family:'Open Sans',Arial,sans-serif;}

html, body {background:url('images/system/background.png') repeat; height:100%; margin:0;}

a:link,a:visited,a:hover,a:active {color:#000; text-decoration:none;}

h1,h2,h3,h4,p,ul,table {color:#0a1b33; margin:0 0 10px;}
h1 {font-size:56px; font-weight:300; margin:0;}
h2 {font-size:16px; font-weight:600; margin:0 0 10px 0;}
h3 {font-size:18px; font-weight:600;}
h4 {font-size:12px; font-weight:500; margin:5px; text-align:center;}
p, li {color:#0a1b33; font-size:17px; font-weight:300; line-height:26px;}
input {border:0; outline:none;}

.wrapper {min-height:100%; position:relative;}

/*-----------------------------------------------------------------
// Header
-----------------------------------------------------------------*/
.header {background:#000; box-shadow:0 -20px 75px 0 #000; margin:auto !important; opacity:0.85; padding:25px 0; position:fixed; width:100%; z-index:999;}

.headerContainer {margin:auto; position:relative; width:980px;}

.logo {left:60px; opacity:1; position:absolute; top:12px;}
.logo h1 {color:#abe3ff; font-size:34px;}
.logo h1:hover {color:#fff;}
.logo img {width:60px;}

.navigation {float:right; opacity:1; position:relative; right:30px;}
.navigation ul {list-style-type:none; margin:auto; padding:0;}
.navigation li {border-right:1px solid #666; display:inline; padding:0px 30px;}
.navigation li:last-child {border:0px}
.navigation a {color:#abe3ff; font-size:15px; font-weight:300;}
.navigation a:hover {color:#fff;}

/*-----------------------------------------------------------------
// Content
-----------------------------------------------------------------*/
.content {padding:0px 0px 150px 0px;}

.contentContainer {margin:auto; padding:100px 0px 100px 0px;}
.contentContainer h1,h2 {text-align:center;}
.contentContainer p {text-align:left;}

.contentBlock {font-size:0; margin:auto; position:relative; width:900px;}
.contentBlock h1 {padding:10px 0px 10px 0px;}
.contentBlock img {width:900px;}

.full {width:100%;}
.strip {background:#fff;}

#home {background:url('images/system/intro.png') repeat; background-position:center center; height:100%; margin:0px; padding:0px;}
#home h1 {color:#fff; cursor:default; letter-spacing:14px; padding:300px 0px 0px 0px;}

.project {background:#fff; border-top:1px solid #aaa; border-bottom:1px solid #aaa; font-size:0; margin:20px 0px 10px 0px; min-height:150px;}
.project p {padding:20px;}

.projectLeft, .projectRight {background:#fff; border-top:1px solid #aaa; font-size:0; position:relative; width:100%;}
.projectLeft:last-child, .projectRight:last-child {border-bottom:1px solid #aaa;}
.projectLeft h3, .projectRight h3 {font-size:28px; font-weight:700; margin:0 0 20px; text-transform:uppercase;}
.projectLeft img {position:relative; left:50%; width:50%;}
.projectRight img {width:50%;}

.projectInfo {display:inline-block; text-align:center; position:absolute; top:25%; bottom:25%; width:50%;}
.projectInfo p {display:inline-block;}

.projectSmall {border:1px solid #ddd; box-shadow:3px 3px 5px 0px #ccc; display:inline-block; opacity:0.8; margin:10px; width:248px;}
.projectSmall:hover {opacity:1;}
.projectSmall h4 {color:#1b4988;}
.projectSmall img {height:166px; width:248px;}

.projectNav {display:inline-block; float:right; margin:10px 0px 0px 0px;}
.projectNav p {padding:10px; margin:10px;}

.projectButton {border:4px solid #0a1b33; font-weight:700; margin:0px 5px 0px 5px; padding:5px 40px 5px 40px; text-transform:uppercase;}
.projectButton:hover {border:4px solid #1b4988; color:#1b4988;}
.projectButton:active {border:4px solid #3866a4; color:#3866a4;}

/*-----------------------------------------------------------------
// Footer
-----------------------------------------------------------------*/
.footer {background:#000; bottom:0; height:150px; position:absolute; width:100%;}
.footer p {color:#fff; letter-spacing:1px;}

.footerContainer {margin:auto; margin-top:60px; position:relative; width:900px;}

/*-----------------------------------------------------------------
// Toggle
-----------------------------------------------------------------*/
.toggle {background:#fff; margin:auto; margin-top:10px; padding:25px; text-align:center;}
.toggle > h3 {display:inline-block; font-size:22px; font-weight:700; margin:0; text-align:center; vertical-align:top;}

.toggleContainer {border-bottom:1px solid #ccc; border-top:1px solid #ccc; display:none; margin-top:10px; padding:20px; text-align:justify;}

/*-----------------------------------------------------------------
// Contact Form
-----------------------------------------------------------------*/
.contactForm {margin:auto; position:relative;}
form div {display:inline-block; padding-bottom:20px; width:50%;}
.leftColumn,.rightColumn {display:inline-block; text-align:left; vertical-align:top; width:50%;}
.leftColumn p,.rightColumn p {color:#0a1b33; text-align:left;}

fieldset {border:0; margin:0; padding:0;}
legend {left:-9999px; position:absolute;}
label {color:#0a1b33; font-size:14px; font-weight:700; line-height:30px; letter-spacing:0px; text-transform:uppercase;}
input[type=text],input[type=email],textarea {border:1px solid #ddd; font-weight:600; padding:10px; width:100% !important;}
textarea {height:100px; outline:none;}

/*-----------------------------------------------------------------
// Social Bars
-----------------------------------------------------------------*/
.socialHorizontal {position:absolute; left:870px; top:0px;}
.socialVeritcal {}

/*-----------------------------------------------------------------
// Buttons
-----------------------------------------------------------------*/
.button {background-color:#3866A4; border:1px solid #555; box-shadow:0px 3px 0px 0px #1B4988; display:inline-block; font-size:16px; font-weight:600; letter-spacing:-1px; line-height:100%; margin:10px; padding:14px 26px; text-align:center; text-shadow:0 1px rgba(0, 0, 0, 0.3); width:300px;}
.button, .button:hover, .button:active {color:#fff !important;}
.button:hover {background-color:#3866A4; background-image:-moz-linear-gradient(#1B4988, #3866A4); background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#3866A4), to(#1B4988)); background-image:-webkit-linear-gradient(#1B4988, #3866A4); background-image:-o-linear-gradient(#1B4988, #3866A4);}
.button:active {box-shadow:0px 1px 0px 0px #1B4988; margin-top:12px; margin-bottom:8px;}

/*-----------------------------------------------------------------
// Shapes
-----------------------------------------------------------------*/
.circle {background-image:url(images/system/circle.png); cursor:pointer; height:100px; margin:auto; width:100px;}
.prev, .next {position:absolute;}
.next {right:0px;}
.arrowDown {background-image:url(images/system/arrowDown.png); height:100px; margin:auto; width:100px;}
.arrowLeft {background-image:url(images/system/arrowLeft.png); height:100px; margin:auto; width:100px;}
.arrowRight {background-image:url(images/system/arrowRight.png); height:100px; margin:auto; width:100px;}
.arrowUp {background-image:url(images/system/arrowUp.png); height:100px; margin:auto; width:100px;}
.open {background-image:url(images/system/open.png); height:100px; margin:auto; width:100px;}
.close {background-image:url(images/system/close.png); height:100px; margin:auto; width:100px;}

.half {background-size:50px; height:50px; width:50px;}

.open, .close {background-size:35px; cursor:pointer; display:inline-block; height:35px; margin-left:15px; vertical-align:middle; width:35px;}
.open {background-image:url(images/system/open.png);}
.open:hover {transform:rotate(90deg); -ms-transform:rotate(90deg); -webkit-transform:rotate(90deg);}
.close {background-image:url(images/system/close.png);}

/*-----------------------------------------------------------------
// Transformations
-----------------------------------------------------------------*/
.fade {transition:0.5s; transition-timing-function:linear; -webkit-transition:0.5s; -webkit-transition-timing-function:linear;}
.rotate1 {transform:rotate(270deg); -ms-transform:rotate(270deg); -webkit-transform:rotate(270deg);}
.rotate2 {transform:rotate(180deg); -ms-transform:rotate(180deg); -webkit-transform:rotate(180deg);}
.rotate3 {transform:rotate(90deg); -ms-transform:rotate(90deg); -webkit-transform:rotate(90deg);}
.translateX:hover {transform:translateX(5%); -ms-transform:translateX(5%); -webkit-transform:translateX(5%);}
.translateY:hover {transform:translateY(5%); -ms-transform:translateY(5%); -webkit-transform:translateY(5%);}
